body {
    background: #eee;
    color: #333;
}



.myClass {
    color: #d2691e;
    font-size: 24px;
}

#text {
    width: 800px;
    margin: 0 auto;
}

ul>li {
    color: #228c22;
}

h1+p {
    font-size: 24px;
    font-family: segoe script;
}

p {
padding-left: 15;
}

.myClass1 {
    background: #23887C;
    color: #FFF;
    height: 100px;
}
.myClass2 {
    background: #4D0035;
    color: rgb(255, 255, 255);
    height: 100px;
}

.myClass3 {

    color: #393939;
}