body {
    color: #333;
    width: 800px;
    margin: 15px auto;
    font-family: Arial, sans-serif;
}

header {
    height: 120px;
    background: #fff;
    border-bottom: 5px solid #eee;
    border-top: 1px solid #eee;
}
header h1{
    padding: 25px 0 0 5px;
    font-size: 50px;
    margin: 0;
    letter-spacing: 5px;
}

.navigation ul {
    margin: 10px 0 0 0;
    padding: 0;
}

.navigation ul li {
    list-style:none;
    display: inline-block;
    
}
.navLink {
    border-right: 1px solid #4a4848;
}
.navigation a {
    text-decoration: none;
    color: #4a4848;
	padding: 0px 5px;
	text-align: center;
	font-weight: bold;
}
.navigation a:hover{
    color: #FF7A37;
}
.pdfDoc {
    background-image: url("../img/pdf.png");
    background-position: center right;
    
}

.aHeader {
    margin: 10px 0 0 0;
    font-size: 12px;
}

.contry {
    color: #C00;
}


.title>h1 {
    font-size: 36px;
    font-family: Open Sans, sans-serif;
}
.title>h2 {
 font-size: 24px;
 font-family: Open Sans, sans-serif;  
}

.content img {
    width: 700px;
}
figure {
    margin-left: 0;
}

figcaption {
    font-size: 12px;
    margin-bottom: 15px;
    background: rgba(0, 0, 0, 0.9);
    width: 694px;
    padding: 10px 0 10px 5px;
    color: #FFF;
}

.content p {
    font-family: Arial, sans-serif;
    font-size: 14px;
    margin-top: 3px;
    line-height: 16px;
}

.content h2 {
    font-size: 18px;
    margin-bottom: 0px;  
}

.author{
    height: 101px;
    margin-top: 25px;
}
.author>img {
    width: 100px;
    height: 101px;
    border-radius: 50px;
    float: left;
    margin-right: 10px;
}

.authorName, .authorPosition {
    position: relative;
    top: 30px;
    font-family: Open Sans, sans-serif;
    font-size: 15px;
}

footer {
    height: 125px;
    border-bottom: 1px solid #eee;
    border-top: 5px solid #eee;
    margin: 15 0 0 0;
}
footer h2 {
    margin-bottom: 4px;
}

a[href="https://yandex.ru"]{
    color: #FF7A37;
}